<nav class="navbar navbar-inverse">
</nav>
<div class="project-container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <img class="project-img img-responsive" src={{img}}></img>
    </div>
    <div class="col-md-4">
      <div class="project-title">{{title}}</div>
      <div class="project-date">{{date}}</div>
      <div class="achievements">
        {{#if achievements}}
          {{#each achievements}}
            <div class="achievement">
              <img class="achievement-img" src={{img}}></img><span class="achievement-name">{{title}}</span>
            </div>
          {{/each}}
        {{/if}}
      </div>
      <div class="project-maker">
        <img class="project-maker-img" src={{makerAvatar}}></img><a href="/{{makerName}}">{{makerName}}</a>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<div class="social">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="comments-container">
        <div>
          <img class="comments-icon" src="../assets/SVGIcons/comment.svg"></img>{{comments.length}} Comments
        </div>
        {{#each comments}}
        <div class="comment">
          <img class="comment-img" src={{img}}></img>
          <div class="comment-body triangle-isosceles left">
            <div class="comment-meta">
              <a href="/{{name}}">{{name}}</a><span class="comment-stamp">{{stamp}}</span>
            </div>
            <div class="comment-content">
              {{html}}
            </div>
            <img class="comment-reply" src="../assets/SVGIcons/reply.svg"></img>
            <br><br>
          </div>
        </div>
        {{/each}}
        <div class="comment">
          <!-- using project maker's avatar as placeholder as anonymous img was not given -->
          <img class="comment-img" src={{makerAvatar}}></img>
          <div class="comment-body triangle-isosceles left">
            <textarea class="comment-input"></textarea>
            <button class="comment-submit btn btn-sm btn-success">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="favorites-container">
        <div>
          <img class="favorites-icon" src="../assets/SVGIcons/favorite.svg"></img>{{favorites.length}} Favorites
        </div>
        <ul class="favorite list-inline">
          {{#each favorites}}
            <li>
              <img class="favorite-img" src={{img}}></img>
              <a href="/{{name}}">{{name}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
