<div class="comment">
  <img class="comment-img" src={{img}}></img>
  <div class="comment-body triangle-isosceles left">
    <div class="comment-meta">
      <a href="/{{name}}">{{name}}</a><span class="comment-stamp">{{stamp}}</span>
    </div>
    <div class="comment-content">
      {{html}}
    </div>
    <img class="comment-reply" src="../assets/SVGIcons/reply.svg"></img>
    <br><br>
  </div>
</div>
